<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">100 Awesome Nucleo Icons</h5>
          <p class="category">
            Handcrafted by our friends from
            <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a>
          </p>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-alert-circle-exc"></i>
                <p style="font-size:12px; color:red !important;">icon-alert-circle-exc</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-align-center"></i>
                <p style="font-size:12px; color:red !important;">icon-align-center</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-align-left-2"></i>
                <p style="font-size:12px; color:red !important;">icon-align-left-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-app"></i>
                <p style="font-size:12px; color:red !important;">icon-app</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-atom"></i>
                <p style="font-size:12px; color:red !important;">icon-atom</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-attach-87"></i>
                <p style="font-size:12px; color:red !important;">icon-attach-87</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-badge"></i>
                <p style="font-size:12px; color:red !important;">icon-badge</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bag-16"></i>
                <p style="font-size:12px; color:red !important;">icon-bag-16</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bank"></i>
                <p style="font-size:12px; color:red !important;">icon-bank</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-basket-simple"></i>
                <p style="font-size:12px; color:red !important;">icon-basket-simple</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bell-55"></i>
                <p style="font-size:12px; color:red !important;">icon-bell-55</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bold"></i>
                <p style="font-size:12px; color:red !important;">icon-bold</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-book-bookmark"></i>
                <p style="font-size:12px; color:red !important;">icon-book-bookmark</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-double-right"></i>
                <p style="font-size:12px; color:red !important;">icon-double-right</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bulb-63"></i>
                <p style="font-size:12px; color:red !important;">icon-bulb-63</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bullet-list-67"></i>
                <p style="font-size:12px; color:red !important;">icon-bullet-list-67</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-bus-front-12"></i>
                <p style="font-size:12px; color:red !important;">icon-bus-front-12</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-button-power"></i>
                <p style="font-size:12px; color:red !important;">icon-button-power</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-camera-18"></i>
                <p style="font-size:12px; color:red !important;">icon-camera-18</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-calendar-60"></i>
                <p style="font-size:12px; color:red !important;">icon-calendar-60</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-caps-small"></i>
                <p style="font-size:12px; color:red !important;">icon-caps-small</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-cart"></i>
                <p style="font-size:12px; color:red !important;">icon-cart</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-chart-bar-32"></i>
                <p style="font-size:12px; color:red !important;">icon-chart-bar-32</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p style="font-size:12px; color:red !important;">icon-chart-pie-36</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-chat-33"></i>
                <p style="font-size:12px; color:red !important;">icon-chat-33</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-check-2"></i>
                <p style="font-size:12px; color:red !important;">icon-check-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-cloud-download-93"></i>
                <p style="font-size:12px; color:red !important;">icon-cloud-download-93</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-cloud-upload-94"></i>
                <p style="font-size:12px; color:red !important;">icon-cloud-upload-94</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-coins"></i>
                <p style="font-size:12px; color:red !important;">icon-coins</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-compass-05"></i>
                <p style="font-size:12px; color:red !important;">icon-compass-05</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-controller"></i>
                <p style="font-size:12px; color:red !important;">icon-controller</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-credit-card"></i>
                <p style="font-size:12px; color:red !important;">icon-credit-card</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-delivery-fast"></i>
                <p style="font-size:12px; color:red !important;">icon-delivery-fast</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-email-85"></i>
                <p style="font-size:12px; color:red !important;">icon-email-85</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-gift-2"></i>
                <p style="font-size:12px; color:red !important;">icon-gift-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-globe-2"></i>
                <p style="font-size:12px; color:red !important;">icon-globe-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-headphones"></i>
                <p style="font-size:12px; color:red !important;">icon-headphones</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-heart-2"></i>
                <p style="font-size:12px; color:red !important;">icon-heart-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-html5"></i>
                <p style="font-size:12px; color:red !important;">icon-html5</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-double-left"></i>
                <p style="font-size:12px; color:red !important;">icon-double-left</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-image-02"></i>
                <p style="font-size:12px; color:red !important;">icon-image-02</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-istanbul"></i>
                <p style="font-size:12px; color:red !important;">icon-istanbul</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-key-25"></i>
                <p style="font-size:12px; color:red !important;">icon-key-25</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-laptop"></i>
                <p style="font-size:12px; color:red !important;">icon-laptop</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-light-3"></i>
                <p style="font-size:12px; color:red !important;">icon-light-3</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-link-72"></i>
                <p style="font-size:12px; color:red !important;">icon-link-72</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-lock-circle"></i>
                <p style="font-size:12px; color:red !important;">icon-lock-circle</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-map-big"></i>
                <p style="font-size:12px; color:red !important;">icon-map-big</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-minimal-down"></i>
                <p style="font-size:12px; color:red !important;">icon-minimal-down</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-minimal-left"></i>
                <p style="font-size:12px; color:red !important;">icon-minimal-left</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-minimal-right"></i>
                <p style="font-size:12px; color:red !important;">icon-minimal-right</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-minimal-up"></i>
                <p style="font-size:12px; color:red !important;">icon-minimal-up</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-mobile"></i>
                <p style="font-size:12px; color:red !important;">icon-mobile</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-molecule-40"></i>
                <p style="font-size:12px; color:red !important;">icon-molecule-40</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-money-coins"></i>
                <p style="font-size:12px; color:red !important;">icon-money-coins</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-notes"></i>
                <p style="font-size:12px; color:red !important;">icon-notes</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-palette"></i>
                <p style="font-size:12px; color:red !important;">icon-palette</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-paper"></i>
                <p style="font-size:12px; color:red !important;">icon-paper</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-pin"></i>
                <p style="font-size:12px; color:red !important;">icon-pin</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-planet"></i>
                <p style="font-size:12px; color:red !important;">icon-planet</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-puzzle-10"></i>
                <p style="font-size:12px; color:red !important;">icon-puzzle-10</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-pencil"></i>
                <p style="font-size:12px; color:red !important;">icon-pencil</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-satisfied"></i>
                <p style="font-size:12px; color:red !important;">icon-satisfied</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-scissors"></i>
                <p style="font-size:12px; color:red !important;">icon-scissors</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-send"></i>
                <p style="font-size:12px; color:red !important;">icon-send</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-settings-gear-63"></i>
                <p style="font-size:12px; color:red !important;">icon-settings-gear-63</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-settings"></i>
                <p style="font-size:12px; color:red !important;">icon-settings</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-wifi"></i>
                <p style="font-size:12px; color:red !important;">icon-wifi</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-single-02"></i>
                <p style="font-size:12px; color:red !important;">icon-single-02</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-single-copy-04"></i>
                <p style="font-size:12px; color:red !important;">icon-single-copy-04</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-sound-wave"></i>
                <p style="font-size:12px; color:red !important;">icon-sound-wave</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-spaceship"></i>
                <p style="font-size:12px; color:red !important;">icon-spaceship</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-square-pin"></i>
                <p style="font-size:12px; color:red !important;">icon-square-pin</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-support-17"></i>
                <p style="font-size:12px; color:red !important;">icon-support-17</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-tablet-2"></i>
                <p style="font-size:12px; color:red !important;">icon-tablet-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-tag"></i>
                <p style="font-size:12px; color:red !important;">icon-tag</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-tap-02"></i>
                <p style="font-size:12px; color:red !important;">icon-tap-02</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-tie-bow"></i>
                <p style="font-size:12px; color:red !important;">icon-tie-bow</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-time-alarm"></i>
                <p style="font-size:12px; color:red !important;">icon-time-alarm</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-trash-simple"></i>
                <p style="font-size:12px; color:red !important;">icon-trash-simple</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-trophy"></i>
                <p style="font-size:12px; color:red !important;">icon-trophy</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-tv-2"></i>
                <p style="font-size:12px; color:red !important;">icon-tv-2</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-upload"></i>
                <p style="font-size:12px; color:red !important;">icon-upload</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-user-run"></i>
                <p style="font-size:12px; color:red !important;">icon-user-run</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-vector"></i>
                <p style="font-size:12px; color:red !important;">icon-vector</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-video-66"></i>
                <p style="font-size:12px; color:red !important;">icon-video-66</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-wallet-43"></i>
                <p style="font-size:12px; color:red !important;">icon-wallet-43</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-volume-98"></i>
                <p style="font-size:12px; color:red !important;">icon-volume-98</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-watch-time"></i>
                <p style="font-size:12px; color:red !important;">icon-watch-time</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-world"></i>
                <p style="font-size:12px; color:red !important;">icon-world</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-zoom-split"></i>
                <p style="font-size:12px; color:red !important;">icon-zoom-split</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-refresh-01"></i>
                <p style="font-size:12px; color:red !important;">icon-refresh-01</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-refresh-02"></i>
                <p style="font-size:12px; color:red !important;">icon-refresh-02</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-shape-star"></i>
                <p style="font-size:12px; color:red !important;">icon-shape-star</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-components"></i>
                <p style="font-size:12px; color:red !important;">icon-components</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-triangle-right-17"></i>
                <p style="font-size:12px; color:red !important;">icon-triangle-right-17</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-button-pause"></i>
                <p style="font-size:12px; color:red !important;">icon-button-pause</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-remove"></i>
                <p style="font-size:12px; color:red !important;">icon-simple-remove</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-add"></i>
                <p style="font-size:12px; color:red !important;">icon-simple-add</p>
              </div>
            </div>
            <div
              class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-delete"></i>
                <p style="font-size:12px; color:red !important;">icon-simple-delete</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'icons'
};
</script>
<style>
.font-icon-detail{
  border: red !important;
}
</style>
